.heading-big {
    font-family: $font-main;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
}

.heading-mid {
    font-family: $font-main;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

.heading-tiny {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}
