.list-arrows__item {
    position: relative;
    padding-left: 15px;

    &::after {
        position: absolute;
        top: 7px;
        left: 0;
        width: 5px;
        height: 5px;
        border-top: 1px solid #333;
        border-right: 1px solid #333;
        transform: rotate(45deg);
        content: '';
    }
}

.list-borders__item {
    border-bottom: 1px solid $color-border;
}

.list-dots__item {
    position: relative;
    padding-left: 15px;

    &::after {
        position: absolute;
        top: 8px;
        left: 0;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #333;
        content: '';
    }
}

.list-lines__item {
    position: relative;
    padding-left: 15px;

    &::after {
        position: absolute;
        top: 10px;
        left: 0;
        width: 5px;
        height: 1px;
        background-color: #333;
        content: '';
    }
}

.list-links-simple__item {
    display: inline-block;
    margin-right: 5px;
}

.list-links__item {
    &:not(:last-of-type) {
        border-bottom: 1px solid $color-border;
    }
}

.list-links__link {
    display: block;
    padding: 5px 10px;
    transition: background-color 0.3s ease-out;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.list-select {
    position: relative;
    border: 1px solid $color-border;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease-out, color 0.2s ease-out;

    &:focus,
    &:hover {
        background-color: map-get($map: $colors, $key: main);
        color: #fff;
    }

    &:not(:last-of-type) {
        margin-bottom: 15px;
    }

    &.active {
        background-color: #0f0;
        color: #fff;
    }
}

.list-select__icon {
    position: absolute;
    top: 3px;
    right: 5px;
}

.list-tabs {
    display: flex;
    margin-bottom: 20px;
    text-align: center;
    font-size: map-get($map: $font-sizes, $key: bigger);
    font-weight: 500;
    flex-wrap: wrap;
}

.list-tabs__item {
    flex: 1;

    @include break(md) {
        flex: none;
        width: 100%;
		
		&:not(:last-of-type) {
			border-bottom: 1px solid #fff;
		}
    }
}

.list-tabs__link {
    display: block;
    background-color: map-get($map: $colors, $key: main);
    padding: 5px 15px;
    color: #fff;

    &:focus,
    &:hover {
        color: #fff;
        background-color: fade-out($color: map-get($map: $colors, $key: main), $amount: 0.3);
    }
}
