.cover-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.35s ease-out, visibility 0.35s ease-out;
    @include z-index(cover-screen);

    &.active {
        opacity: 1;
        visibility: visible;
    }
}
