$breakpoints-global: (
    xs: 340,
    sm: 480,
    md: 767,
    bg-page-img: 960,
    lg: 1024,
    xl: 1200,
    xxl: 1600,
    xxxl: 1900
);

$breakpoints-grid: (
    xs,
    sm,
    md,
    lg,
    xl,
    xxl,
    xxxl
);
